.background
 img(src="https://www.techtoam.online /logo.png")
.cardBottom
  //- input.txt(type="text" value="0")
  .card 
    .txt Taitung Duoliang 
    img(src="https://www.techtoam.online/logo.png", alt="AM industry 's")
    
    
